.container {
  margin: 0 auto;
  max-width: 1160px;
  padding: 0 20px;
}

:root {
  --screenHeight: calc(100vh - 42px);
}

@media screen and (max-width: 768px) {
  :root {
    --screenHeight: calc(100vh - 56px);
  }

  body {
    height: 100vh;
  }
}
