:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
}

.input:-webkit-autofill {
  animation-name: onAutoFillStart;
}

.input:not(:-webkit-autofill) {
  animation-name: onAutoFillCancel;
}

@keyframes onAutoFillStart {
}

@keyframes onAutoFillCancel {
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 20px;
}

:root {
  --screenHeight: calc(100vh - 42px);
}

@media screen and (max-width: 768px) {
  :root {
    --screenHeight: calc(100vh - 56px);
  }

  body {
    height: 100vh;
  }
}
